lightning:
  seed: ~
  # mode: fit  #fit
  
  trainer:
    accelerator: auto # gpu # ddp
    precision: 32 # bf16-mixed # 32 # 16-mixed
    # Indices of GPUs used for training.
    devices: [6, 7]
    strategy: ddp

data:
  target: datasets.data_module.GenerationDataModule
  params:
    dataset:
      target: datasets.realsr.RealAllScalesSRDataset
      params:
        preload: False
        # camera_types: [Canon]
        camera_types: [Nikon]
        augmentation: False
        test: False
        dataroot: '/home/present091/nas/datasets/RealSR_v2_ordered/'
      # target: datasets.realsr.DIV2KDataset
      # params:
      #   preload: False
      #   augmentation: False
      #   test: False
      #   dataroot: '/home/present091/nas/datasets/DIV2K/HR/'
      # target: datasets.realsr.DRealSRDataset
      # params:
      #   preload: False
      #   augmentation: False
      #   test: False
      #   dataroot: '/home/present091/nas/datasets/DRealSR/Canon/Train_x2'

    data_loader:
      batch_size: 1 # 256 # 8
      shuffle: false
      num_workers: 8
      drop_last: false


model:
  target: trainers.lit_generate.LitGenerator
  params:
    mode: 'flow' # 'ae_interp'
    # mode: 'ae_interp' 
    version: '27'
    root_dir: '/home/present091/nas/datasets/synthetic_datasets/RealSR'
    # root_dir: '/home/present091/nas/datasets/synthetic_datasets/DIV2K'
    # root_dir: '/home/present091/nas/datasets/synthetic_datasets/DRealSR'
    # root_dir: '/home/present091/nas/datasets/synthetic_datasets/ae_test'
    camera_type: 'Nikon'
    # camera_type: 'Nikon'
    # camera_type: 'Canon_Test'
    # camera_type: 'Nikon_Test'
    ae_config:
      target: models.ae.Autoencoder
      params:
        in_dim: 3
        base_dim: 128
        latent_dim: 4   # 4
        use_skip: True
      checkpoint: './checkpoints/autoencoder/autoencoder-step200000-version14.pth'

    rf_config:
      target: models.ncsn.ncsnpp.NCSNpp
      params:
        config:
          training:
            continuous: True

          data:
            centered: True
            image_size: 32 #32
            num_channels: 4 #4

          model:
            sigma_max: 50.
            sigma_min: 0.01
            num_scales: 1000
            beta_min: 0.1
            beta_max: 20.
            dropout: 0.1
            scale_by_sigma: False
            ema_rate: 0.999
            normalization: 'GroupNorm'
            nonlinearity: 'swish'
            nf: 128
            ch_mult: [1, 2, 2, 2]
            # ch_mult: [1, 1, 2, 2, 2, 2, 2]
            # num_res_blocks: 2
            num_res_blocks: 4
            attn_resolutions: []
            resamp_with_conv: True
            conditional: True
            fir: False
            fir_kernel: [1, 3, 3, 1]
            skip_rescale: True
            resblock_type: 'biggan'
            progressive: 'none' # 'output_skip'
            progressive_input: 'none' # input_skip' #'residual'
            progressive_combine: 'sum'
            attention_type: 'ddpm'
            init_scale: 0.
            embedding_type: 'positional' # 'fourier'
            fourier_scale: 16
            conv_size: 3
      checkpoint: './checkpoints/rectified_flow/rectified_flow-step400000-version26.pth'